/* menu */
 
.menu{
    height: 60px;
    background-color: #db4c3f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
  
    height: 35px;
    width: 200px;
    background: #FFFFFFFF;
    border: 1px solid;
    padding-left: 5px;
    box-sizing:content-box;
    
}
.search {
    margin-left: 800px;
}
.text:hover{
    background-color: antiquewhite;
}
.timkiem {
  
    height: 35px;
    width: 70px;
    background: orange;
    border: 1px solid orange;
    box-sizing:content-box;
}
.timkiem:hover{
    background-color: #FAFAFA;
}
.log {
    margin-left: 650px;
   line-height: 40px;
}
.login {
    height: 38px;
    width: 100px;
    background-color: aquamarine;
}
.logout {
    height: 38px;
    width: 100px;
    background-color: bisque;
}
