.right{
   margin-left: 20%;
   margin-right: 20%;
   width: 100%;
   margin-top: 100px;
}
.top{
   display: flex;
   align-items: center;
   font-size: 16px;
   height: 50px;

}
.inbox{ 
   font-size: 20px;
   font-weight: bold;
   margin-left: 55px;
}
.ti-comment{ 
   margin-left: 750px;
}
.ti-view-list-alt,.ti-more{ 
   margin-left: 50px;
}
.ti-comment:hover,.ti-view-list-alt:hover,.ti-more:hover{ 
   background-color:  #EEEEEE;
}

.right ul li {
   margin-top: 30px;
   list-style: none;
}
.check{
   display: flex;
   align-items: center;
   
}
h3 {
   margin-left: 10px;
}
.radio{
   display: flex;
   margin-left: 10px;
   font-size: 15px;
   width: 800px;
}
.ti-slice{
   display: none;
}
.comment{
   margin-left: 44px;
   color: #808080;
   font-size: 14px;
 }
 hr{
   width : 1050px;
   size : 1px;
   margin: 20px 0px 10px 20px;
 }
 .check:hover > .ti-slice{ 
   float: right;
   margin-left: 240px;
   display: inline;
}
